body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  background: #4caf50;
  padding: 20px;
  color: white;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  width: 60%;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
